/************************************Background color of Navbar*****************************/
.bg-navbar {
  background-color: #740623 !important;
}

.nav-b2b {
  font-weight: bolder;
  font-size: 20px;
}

#input-search {
  display: flex;
  width: 80%;
}

.input-search {
  text-align: center;
  margin-left: 250px;
  font-size: 17px;
  width: 100%;
  height: 30px;
}

/************************************Navbar dropdown color****************************/
.NavDropdown {
  background-color: white;
}

.nav-divider {
  text-decoration: none;
}

.nav-main {
  color: white;
}

/************************************Search input field*****************************/
.form-control {
  max-width: 500px;
  text-align: center;
}

.navbar-dark .navbar-brand {
  width: 150px;
}

/************************************search button icon*****************************/
.btn-outline-success {
  color: white;
  border-color: white;
}

/************************************navbar font color*****************************/
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/************************************navbar margin to right side icons*****************************/
.navbar-nav .nav-link {
  margin-right: 30px;
}

/************************************unordered list *****************************/
ul {
  list-style-type: none;
}

/************************************for sign in dropdown menu*****************************/
.dropdown-item {
  font-weight: bold;
}

/************************************For slider height*****************************/
.MuiTabs-root {
  text-transform: none;
  letter-spacing: 0;
  line-height: 0;
  font-family: sans-serif;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:images/profile.png width='30' height='30'");
}
.slider{
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width:1400px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top : 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top : 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}


.goog-te-combo{
  font-size: 15px !important;
  height:auto;
  padding:5px 0;
  background-color: rgba(78, 15, 15, 0.973);
  color: white;
}