#login {
  width: 300px;
  border: 0px;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: hsl(0, 0%, 20%);
  font-size: 14px;
  background: #00BFFF ;
  margin: 100px auto;
}
#register {
  width: 400px;
  padding: 0px 15px 15px 15px;
  border: 0px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}


form label, form input {
  display: block;
  margin-bottom: 10px;
  width: 90%;
  border: 0px;
}

form input {
  padding: 10px;
  border: solid 0px #BDC7D8;

} 
form h3 {
  text-align: center;
  border: 0px;
}
form h6{
  border: 0px;
    padding-left: 400px;
}

.button {
  background-color: #00BFFF;
  border-color: #000000;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
  border: 0px;
} 

.errorMsg {
  color: #cc0000;
  margin-bottom: 13px; 
  display: flex !important; 
  border: 0px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
  border: 0px;
} 


.H{
  color: rgb(105, 103, 99);
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 0px;
}