*{
  box-sizing: border-box;
}

.mob_c {
  float: left;
  width: 24%;
  padding: 5px;
  height: 100%;
}
.mob_c1 {
  float: right;
  width: 24%;
  padding: 5px;
  height: 100%;
}


.mob_r::after {
  content: "";
  clear: both;
  display: table;
}
