*{
  font-size: 14px;
  border: 0px;
}
.login_container{
  width: 970px;
  padding-right: 15px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
    border: 0px;
}
#login_form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
  border: 0px;
}


.loginform h2, .signupform h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 0px;
}


.loginform form input, .signupform form input {
  background: #F0F0E9;
  border: 0px;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.loginform form span{
  line-height: 25px;
  border: 0px;
}

.loginform form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
  border: 0px;
}

.loginform form .loginbtn {
  margin-top: 23px;
  border: 0px;
}

.loginform form .loginbtn, .signupform form .signupbtn {
  background: #740623;
  border: 0px;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}



.loginform label input {
  border: 0px;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}


.or{
	background: #740623;
  border: 0px;
	border-radius: 40px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}









.login1_container{
  width: 970px;
  padding-right: 15px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
    border: 0px;
}
#login1_form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
  border: 0px;
}


.login1form h2, .signupform h2 {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  border: 0px;
}


.login1form form input, .signupform form input {
  background: #F0F0E9;
  border: 0px;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: -10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login1form form span{
  line-height: 25px;
  border: 0px;
}

.login1form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: -5px;
  border: 0px;
}

.login1form form .loginbtn {
  margin-top: -23px;
  border: 0px;
}

.login1form form .loginbtn, .signupform form .signupbtn {
  background: #740623;
  border: 0px;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}



.login1form label input {
  border: 0px;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}
.btn-primary{
  color: white;
  text-emphasis-color: rgb(26, 164, 199);
  border: 0px;
}

.try{
  
  border: 1px solid #ffffff;
}